@model int

@{
    ViewData["Title"] = "Delete Part";
}

<h2>Are you sure you want to delete this part?</h2>
<a class="btn btn-danger" href="/parts/destroy/@Model">Confirm Delete</a>
<a class="btn btn-default" href="/parts/all" >Back</a>

